---
import type { CollectionEntry } from "astro:content";
import { getProjectLink } from "../utils/links";
import { Image } from "astro:assets";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="projectlist">
    {
        projects
            .filter((project) => project.data.images?.length > 0)
            .map((project) => {
                const imagePath = project.data.images[0].default;
                const projectLink = getProjectLink(project.slug);
                return (
                    <div class="projectlist-item">
                        <a
                            class="projectlist-item-imgwrp"
                            href={projectLink}
                            style={`background-color:${project.data.backgroundColor}`}
                        >
                            <Image
                                src={imagePath}
                                width={755}
                                height={488}
                                alt={project.data.title}
                                loading="lazy"
                                sizes="(min-width: 800px) 50vw, 100vw"
                                fit="cover"
                            />
                        </a>
                        <p class="projectlist-item-desc">
                            <a href={projectLink} class="t-lighter">
                                {project.data.title}
                            </a>
                            <br />
                            <a href={projectLink} class="t-secondary">
                                (CATEGORY)
                            </a>
                        </p>
                    </div>
                );
            })
    }
</div>
