---
// src/components/ProjectSlider.astro
import type { CollectionEntry } from "astro:content";
import { CldImage } from "astro-cloudinary";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;

// Get first 7 projects that have images
const sliderProjects = projects
    .filter((project) => project.data.images?.length > 0)
    .slice(0, 7);

function getCloudinaryId(path: string): string {
    return `acetone/${path.replace(/^\/images\//, "")}`;
}

function getBackgroundImageUrl(
    cloudinaryId: string,
    width: number,
    height: number,
): string {
    return `https://res.cloudinary.com/doz1x7l3z/image/upload/c_fill,w_${width},h_${height}/${cloudinaryId}`;
}
---

<ul class="m-slider-nav" id="sliderbuttons">
    {
        sliderProjects.map((_, index) => (
            <li class={index === 0 ? "s--active" : ""}>
                <a
                    href="#noid"
                    id={`slide-${index + 1}`}
                    class="m-slider-nav-button"
                >
                    {index + 1}
                </a>
            </li>
        ))
    }
</ul>

<div class="m-fullscreen" id="slidermodule">
    <ul class="m-slider">
        {
            sliderProjects.map((project, index) => {
                const cloudinaryId = getCloudinaryId(
                    project.data.images[0].default,
                );
                const styles = {
                    mobile: `.m-slider-item.item-${index + 1} { background-image: url('${getBackgroundImageUrl(cloudinaryId, 600, 800)}'); }`,
                    desktop: `.m-slider-item.item-${index + 1} { background-image: url('${getBackgroundImageUrl(cloudinaryId, 1200, 800)}'); }`,
                };
                return (
                    <li
                        class={`m-slider-item item-${index + 1}`}
                        id={`slideli-${index + 1}`}
                    >
                        <style
                            type="text/css"
                            scoped="scoped"
                            media="(max-width: 800px)"
                            set:html={styles.mobile}
                        />
                        <style
                            type="text/css"
                            scoped="scoped"
                            media="(min-width: 800px)"
                            set:html={styles.desktop}
                        />
                        <a href={`/projects/${project.slug}`}>
                            <CldImage
                                src={cloudinaryId}
                                width={600}
                                height={800}
                                alt={project.data.title}
                                format="auto"
                                quality="auto"
                            />
                        </a>
                    </li>
                );
            })
        }
    </ul>
</div>
