---
import type { CollectionEntry } from "astro:content";
import { getProjectLink } from "../utils/links";
import { getImage } from "astro:assets";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;

const sliderProjects = projects
    .filter((project) => project.data.images?.length > 0)
    .slice(0, 7);

async function getOptimizedImageUrl(
    imagePath: string,
    width: number,
    height: number,
) {
    const image = await getImage({
        src: imagePath,
        width,
        height,
        format: "webp",
    });
    return image.src;
}
---

<ul class="m-slider-nav" id="sliderbuttons">
    {
        sliderProjects.map((_, index) => (
            <li class={index === 0 ? "s--active" : ""}>
                <a
                    href="#noid"
                    id={`slide-${index + 1}`}
                    class="m-slider-nav-button"
                >
                    {index + 1}
                </a>
            </li>
        ))
    }
</ul>

<div class="m-fullscreen" id="slidermodule">
    <ul class="m-slider">
        {
            sliderProjects.map(async (project, index) => {
                const imagePath = project.data.images[0].default;
                const mobileUrl = await getOptimizedImageUrl(
                    imagePath,
                    600,
                    800,
                );
                const desktopUrl = await getOptimizedImageUrl(
                    imagePath,
                    1200,
                    800,
                );
                const styles = {
                    mobile: `.m-slider-item.item-${index + 1} { background-image: url('${mobileUrl}'); }`,
                    desktop: `.m-slider-item.item-${index + 1} { background-image: url('${desktopUrl}'); }`,
                };
                return (
                    <li
                        class={`m-slider-item item-${index + 1}`}
                        id={`slideli-${index + 1}`}
                    >
                        <style
                            type="text/css"
                            scoped="scoped"
                            media="(max-width: 800px)"
                            set:html={styles.mobile}
                        />
                        <style
                            type="text/css"
                            scoped="scoped"
                            media="(min-width: 800px)"
                            set:html={styles.desktop}
                        />
                        <a href={getProjectLink(project.slug)}>
                            <img
                                src={mobileUrl}
                                width={600}
                                height={800}
                                alt={project.data.title}
                            />
                        </a>
                    </li>
                );
            })
        }
    </ul>
</div>
