---
import type { CollectionEntry } from "astro:content";
import { getProjectLink } from "../utils/links";
import { Image } from "astro:assets";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;

const sliderProjects = projects
    .filter((project) => project.data.images?.length > 0)
    .slice(0, 7);
---

<ul class="m-slider-nav" id="sliderbuttons">
    {
        sliderProjects.map((_, index) => (
            <li class={index === 0 ? "s--active" : ""}>
                <a
                    href="#noid"
                    id={`slide-${index + 1}`}
                    class="m-slider-nav-button"
                >
                    {index + 1}
                </a>
            </li>
        ))
    }
</ul>

<div class="m-fullscreen" id="slidermodule">
    <ul class="m-slider">
        {
            sliderProjects.map((project, index) => {
                const imagePath = project.data.images[0].default;
                return (
                    <li
                        class={`m-slider-item item-${index + 1}`}
                        id={`slideli-${index + 1}`}
                    >
                        <style
                            type="text/css"
                            scoped="scoped"
                            media="(max-width: 800px)"
                        >
                            {`.m-slider-item.item-${index + 1} { background-image: url(${imagePath}); }`}
                        </style>
                        <style
                            type="text/css"
                            scoped="scoped"
                            media="(min-width: 800px)"
                        >
                            {`.m-slider-item.item-${index + 1} { background-image: url(${imagePath}); }`}
                        </style>
                        <a href={getProjectLink(project.slug)}>
                            <Image
                                src={imagePath}
                                width={600}
                                height={800}
                                alt={project.data.title}
                                format="webp"
                            />
                        </a>
                    </li>
                );
            })
        }
    </ul>
</div>
