---
// src/components/ProjectList.astro
import type { CollectionEntry } from "astro:content";
import { CldImage } from "astro-cloudinary";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;

function getCloudinaryId(path: string): string {
    return path.replace(/^\/images\//, "acetone/").replace(/\.[^/.]+$/, "");
}
---

<div class="projectlist">
    {
        projects
            .filter((project) => project.data.images?.length > 0)
            .map((project) => {
                const cloudinaryId = getCloudinaryId(
                    project.data.images[0].default,
                );
                return (
                    <div class="projectlist-item">
                        <a
                            class="projectlist-item-imgwrp"
                            href={`/projects/${project.slug}`}
                            style={`background-color:${project.data.backgroundColor}`}
                        >
                            <CldImage
                                src={cloudinaryId}
                                width={574}
                                height={371}
                                alt={project.data.title}
                                loading="lazy"
                            />
                        </a>
                        <p class="projectlist-item-desc">
                            <a
                                href={`/projects/${project.slug}`}
                                class="t-lighter"
                            >
                                {project.data.title}
                            </a>
                            <br />
                            <a
                                href={`/projects/${project.slug}`}
                                class="t-secondary"
                            >
                                (CATEGORY)
                            </a>
                        </p>
                    </div>
                );
            })
    }
</div>
