---
// src/pages/projects/[slug].astro
import { getCollection, type CollectionEntry } from "astro:content";
import type { ProjectSchema } from "../../content/config";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    const sortedProjects = projects.sort(
        (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
            a.data.order - b.data.order,
    );

    return sortedProjects.map(
        (project: CollectionEntry<"projects">, index: number) => {
            const nextProject =
                sortedProjects[(index + 1) % sortedProjects.length];
            return {
                params: { slug: project.slug },
                props: { project, nextProject },
            };
        },
    );
}

interface Props {
    project: CollectionEntry<"projects">;
    nextProject: CollectionEntry<"projects">;
}

const { project, nextProject } = Astro.props;
---

<BaseLayout
    backgroundColor={project.data.backgroundColor}
    title={project.data.title}
    metaDescription={project.data.metaDescription}
    metaKeywords={project.data.metaKeywords}
>
    <div class="projectnavig-cont">
        <div class="projectnavig">
            <a
                class="projectnavig-following"
                href={`/projects/${nextProject.slug}/`}
            >
                {nextProject.data.title.toUpperCase()}
            </a>
        </div>
    </div>

    <div class="detailslist" id="scrollpager">
        <div class="detailslist-desc">
            <p><strong>{project.data.title}</strong></p>
        </div>

        {
            project.data.images.map(
                (image: ProjectSchema["images"][0], index: number) => (
                    <div class="detailslist-item">
                        <p class="t-counter">
                            {index + 1}/{project.data.images.length}
                        </p>
                        <img
                            srcset={`
                        ${image.default} 1920w,
                        http://www.acetone-graphik.com/image/2/1000/666/5/fff${image.default} 1000w,
                        http://www.acetone-graphik.com/image/2/825/545/5/fff${image.default} 825w
                    `}
                            sizes="98vw"
                            src={`http://www.acetone-graphik.com/image/2/825/545/5/fff${image.default}`}
                            alt={image.title}
                        />
                        <p class="t-desc">{image.description || ""}</p>
                    </div>
                ),
            )
        }
    </div>
</BaseLayout>
